In [1]:
import pandas as pd

In [6]:
solar_data = pd.read_csv('PY_16. Как выгружать данные из файлов разных форматов\data\solarpower.csv')
solar_data.head()

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\kinde\AppData\Local\Temp\ipykernel_15412\2827901636.py:1: SyntaxWarning: invalid escape sequence '\d'
  solar_data = pd.read_csv('PY_16. Как выгружать данные из файлов разных форматов\data\solarpower.csv')

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [26]:
solar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    object
 1   cum_power  664 non-null    float64
 2   day_power  663 non-null    float64
dtypes: float64(2), object(1)
memory usage: 15.7+ KB

In [18]:
for i in range(solar_data.shape[0]):
    if solar_data.loc[i,'cum_power'] == -1:
        solar_data.loc[i,'cum_power'] = (solar_data.loc[i-1, 'cum_power']+solar_data.loc[i+1, 'cum_power'])/2
        
print(solar_data['cum_power'].mean())

23848.246987951807

In [25]:
solar_data['day_power'] = solar_data['cum_power'].diff()

print(solar_data['day_power'])

0      NaN
1      1.0
2      3.0
3      2.0
4      2.0
      ...
659    6.0
660    8.0
661    6.0
662    2.0
663    3.0
Name: day_power, Length: 664, dtype: float64

In [27]:
solar_data['date']=pd.to_datetime(solar_data['date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    datetime64[ns]
 1   cum_power  664 non-null    float64
 2   day_power  663 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 15.7 KB

In [42]:
solar_data['month_year'] = solar_data['date'].dt.to_period('M')
a=(solar_data.groupby('month_year')['day_power'].mean())
a

month_year
2017-01     3.233333
2017-02     3.714286
2017-03    10.774194
2017-04    16.300000
2017-05    19.000000
2017-06    21.500000
2017-07    18.129032
2017-08    15.064516
2017-09    11.533333
2017-10     6.419355
2017-11     3.233333
2017-12     1.161290
2018-01     2.064516
2018-02     6.928571
2018-03     8.709677
2018-04    14.633333
2018-05    21.032258
2018-06    18.766667
2018-07    22.000000
2018-08    17.096774
2018-09    13.866667
2018-10     9.000000
Freq: M, Name: day_power, dtype: float64

In [43]:
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'